html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: var(--font-M);
  background-color: var(--primary);
  color: var(--primary-text);
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
	padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: var(--font-M);
}

p {
  margin: 0;
}

select {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
